/* CSS declarations go here */
body { padding-top: 52px; }
a.button{
		background:url(/button.gif);
		display:block;
		color:#555555;
		font-weight:bold;
		height:30px;
		line-height:29px;
		margin-bottom:14px;
		text-decoration:none;
		width:191px;
	}

	a:hover.button{color:#0066CC;}

.masthead {background-color: @brand-primary;}

.dropzone {
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
 
 color: #fff;
  background-color: #29e;
  border: solid 2px #fff;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
   color: #000;
  background-color: #4e4;
}