/* CSS declarations go here */
body { padding-top: 70px; }

.dhtmlx_message_area{
  
    padding-top: 52px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.gris{
  background-color: #708090;
  color: #FFFFFF;
  text-align: center;
height:110px;
  width: 80px;
}

.dhtmlxsucess{
  background-color: #29e;
  color:#008000;
}

.masthead {background-color: @brand-primary;}

.dropzone {
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
 
 
  border: solid 2px #fff;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
   color: #000;
}




.map-container {
  width: 300px;
  max-width: 100%;
  height: 300px;
}