<template name="welcome">


    <!-- NavBar spéciale welcome Page -->
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor route='welcome'}}">Colibry</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Colibry</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#citizen">A citizen project</a></li>
                        <li><a class="page-scroll" href="#development">App in dev</a></li>
                        <li><a class="page-scroll" href="#lookingFor">Participate</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                        <li><a class="" href="{{pathFor route='bienvenue'}}"><img src="img/flags/16/Canada.png">Fr</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



    <!-- 3 img slider-->

    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>COLIBRY, THE COLLABORATIVE LIBRARY<br/>
                            Read, share, meet people<br/>
                            </h1>
                        <p class="text-info">Create your library on Colibry, share and borrow books and meet new people.<br>A free and simple app.</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="#features" role="button">Tell me more !</a>
                        </p>
                    </div>
                    <!--
                    <div class="carousel-image wow zoomIn">
                        <img src="/welcome/laptop.png" alt="laptop" height="50%">
                    </div>
                    -->
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>

            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>COLIBRY, THE COLLABORATIVE LIBRARY<br/>
                            Read, share, meet people<br/>
                            </h1>
                        <p class="text-info">Create your library on Colibry, share and borrow books and meet new people.<br>A free and simple app.</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="#features" role="button">Tell me more !</a>
                        </p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>
        </div>
        <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



  <!-- features : Partie pour présenter l'idée même de Colibry -->

    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-3">
                <h2>Your library</h2>
                <p>Create and manage your library on Colibry. Search for you physical books and add them on your library. Post comments and reviews and suggest your books to your friends.</p>
              <!--  <p><a class="navy-link" href="{{pathFor route='lend'}}" role="button">My library &raquo;</a></p> -->
            </div>
            <div class="col-sm-3">
                <h2>Borrow books</h2>
                <p>You know what you'd like to read ? Search for this book in your area, contact a Colibry member and meet him to borrow his book. You're looking for suggestions ? Just have a look to other colibry members' libraries.</p>
                <!-- <p><a class="navy-link" href="{{pathFor route='borrow'}}" role="button">Borrow books &raquo;</a></p>-->
            </div>
            <div class="col-sm-3">
                <h2>Share your books</h2>
                <p>With its reviews and comments system, Colibry is the faithful partner to share books without fearing loss or damage. </p>
                <!-- <p><a class="navy-link" href="{{pathFor route='lend'}}" role="button">Share books &raquo;</a></p>-->
            </div>
            <div class="col-sm-3">
                <h2>Meet people</h2>
                <p>Sharing books is about real connections. Meet people with the same reading passions. Share your library, try new genres and meet new people.</p>
               <!--  <p><a class="navy-link" href="{{pathFor route='profilepage'}}" role="button">Go to my profile &raquo;</a></p>-->
            </div>
        </div>
            <section class="timeline gray-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>The Colibry story</h1>
                    <p></p>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                Search for you actual physical books and create your library on Colibry
                                <span class="vertical-date"> Create and manage your library <br/> <small>Now</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-file-text"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                Search for a book or have a look to other colibry members' libraries.
                                <span class="vertical-date"> Search <br/> <small>In 5 minutes</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-cogs"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                Contact him and settle together the best time and location to meet.
                                <span class="vertical-date"> Contact <br/> <small>In 5 min and 30 sec</small> </span>
                            </div>
                        </div>

                         <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-map-marker"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                Meet him at his place, in a coffee or in a library.
                                <span class="vertical-date"> Meet <br/> <small>Today</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-coffee"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                After having read the book, settle another appointment to meet him. Share together about this reading and maybe share some books with him.
                                <span class="vertical-date"> Share your thoughts and your books <br/> <small>In a few days</small> </span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>
    </section>

<section id="citizen" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Colibry, a citizen project</h1>
                    <p>We share books and spread the culture of sharing.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>Colibry</small>
                    <h2>Share books</h2>
                    <i class="fa fa-rss big-icon pull-right"></i>
                    <p>Colibry intends to spread culture for free to everyone. The platerform give access for free to books whose usage is insufficient. On the other hand, the meetings it generates enable communities to come together and develop the culture of sharing .
                    </p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>Colibry</small>
                    <h2>A collaborative project</h2>
                    <i class="fa fa-group big-icon pull-right"></i>
                    <p>The app is entirely developped on GitHub and is open-source.rojet entièrement développé en open-source, c’est la communauté qui a permis la création de Colibry. It is the community that has helped create Colibry. It is natural that Colibry decided to place its members at the heart of its governance through consultation tools, direct and control decisions.</p>
                </div>
            </div>
        </div>

    </section>
  

    <!-- development : Partie dédiée pour le développement informatique, ce qu'on a fait et ce qu'on cherche à faire -->

<section  id="development" class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Colibry is currently in development<br/> <span class="navy">A 100% Meteor-developped application.</span></h1>
                <p>Whether you're a reader or an wonderful programmer, come and help us making Colibry a success</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-laptop features-icon"></i>
                    <h2>On computer</h2>
                    <p>Colibry is available on computer with full functionnalities. The website if full responsive.</p>
                </div>
            <div class="m-t-lg">
                    <i class="fa fa-mobile features-icon"></i>
                    <h2>On mobile</h2>
                    <p>Colibry is also available on mobile - full responsive. Don't loose patience, the mobile app is actually being developed.</p>
                </div> 
           </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <img src="/welcome/showcase-full.png" alt="Also available on mobile" class="img-responsive">
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-file-code-o features-icon"></i>
                    <h2>Devs pro wanted</h2>
                    <p>Colibry is expanding quickly. So as to boost our development, we're looking for one or more amaizing developers JS Full Stack who're interested in collaborative economy, books and drinking beers.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-github features-icon"></i>
                    <h2>Open source</h2>
                    <p>As we wanted Colibry as a citizen project, we developped it open source. If you're interested in improving our application or just giving us some pieces of advice, we'll appreciate your contribution.</p>
                    <p><a class="navy-link" href="https://github.com/ColibryDev/colibry" role="button">Go on Github &raquo;</a></p>
                </div>
            </div>
        </div>
    </section>




  <!-- lookingFor : Partie dédiée à notre recherche de partenaire financier $$-->

    <section id="lookingFor" class="navy-section testimonials" style="margin-top: 0">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-comment big-icon"></i>
                    <h1>
Join the Colibry community!                    </h1>
                    
                </div>
            </div>
        </div>

    </section>

    <section class="comments gray-section" style="margin-top: 0">
        <div class="container">
            <div class="row">
                    <div class="navy-line"></div>
                    
            </div>
            <div class="row features-block">
                <div class="col-lg-4">
                    <div class="bubble">
                        <small>
                        The app needs a little bit more development. If you've skills in Js, html or css and you wish to take part to a social project, contact us!
                    </small>
                    </div>
                    <div class="comments-avatar">
                        <div class="media-body">
                            <div class="commens-name">
                            <i class="fa fa-user"></i>
                            Devs
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble">
                                                <small>
                        Colibry will be soon available for a fot the first beta-testers, who'll help us improve the user experience on the plateform. We're looking for book lovers.
                    </small>
                    </div>
                    <div class="comments-avatar">
                       
                        <div class="media-body">
                            <div class="commens-name">
                            <i class="fa fa-users"></i>
                            Beta-testers
                                                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble">
                        <small>
                        Colibry needs funds for its first months of existence, we are looking for financial partners who'll support our launch and participate in our growth.
                    </small>
                    </div>
                    <div class="comments-avatar">
                        <div class="media-body">
                            <div class="commens-name">
                            <i class="fa fa-user-md"></i>
                            Partners
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </section>
        <section id="lookingFor" class="navy-section testimonials" style="margin-top: 0">
</section>

    
    <section id="contact" class="gray-section team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>The team</h1>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <div class="team-member">
                        <img src="welcome/Alex.jpg" class="img-responsive img-circle img-small" alt="">
                        <h4><span class="navy">Alex</span> </h4>
                       
                        <ul class="list-inline social-icon">
                            <li><a href="https://twitter.com/alex_j2b?lang=fr"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/alexandre.bigot?ref=ts&fref=ts"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/alexandre-bigot-27348920"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-6 wow fadeInRight">
                    <div class="team-member">
                        <img src="welcome/Martin.jpg" class="img-responsive img-circle img-small" alt="">
                        <h4><span class="navy"></span> Martin</h4>
                        
                        <ul class="list-inline social-icon">
                            <li><a href="https://twitter.com/poolman"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/martin.werlen.9?fref=ts"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/martin-werlen-587a6010"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p>Participate!</p>
                </div>
            </div>
        </div>
    </section>

 
    <!-- contact : Prendre contact avec nous ! -->

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact us!</h1>
                    <p></p>
                </div>
            </div>
            <!--
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">Colibry</span></strong><br/>
                        404 on cherche un chez nous<br/>
                        Montreal, CA HA HA HA<br/>
                       <abbr title="Phone">P:</abbr> 514 402 1693 (Martin)
                        <br> <i class="fa fa-enveloppe"></i><small class="address"><a href="mailto:martin@colibry.ca">martin@colibry.ca</a></small>
                      <br><i class="fa fa-enveloppe"></i><small class="address"><a href="mailto:alex@colibry.ca">alex@colibry.ca</a></small>
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color">
                        Colibry est une société en cours de création au Québec.
                    </p>
                </div>
            </div>
        -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:martin@colibry.ca" class="btn btn-primary">Email-us</a>
                    <p class="m-t-sm">
                        Or on social media:
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="https://twitter.com/TheColibry"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/colibry.ca/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://github.com/ColibryDev/colibry"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2016 Colibry. All rights reserved.</strong><br/> :)</p>
                </div>
            </div>
        </div>
    </section>


</template>
