<template name="bienvenue">


    <!-- NavBar spéciale welcome Page -->
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor route='welcome'}}">Colibry</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Colibry</a></li>
                        <li><a class="page-scroll" href="#features">Comment ça marche ?</a></li>
                        <li><a class="page-scroll" href="#citizen">Un projet citoyen</a></li>
                        <li><a class="page-scroll" href="#development">En développement</a></li>
                        <li><a class="page-scroll" href="#lookingFor">Participer</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                        <li><a class="" href="{{pathFor route='welcome'}}"><img src="img/flags/16/Canada.png">En</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



    <!-- 3 img slider-->

    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>COLIBRY, LA PREMIÈRE BIBLIOTHÈQUE COLLABORATIVE <br/>
                            Lisez, partagez, rencontrez<br/>
                            </h1>
                        <p class="text-info">Redonnez vie aux centaines de livres qui dorment sur les étagères de vos voisins et partagez vos lectures préférées.<br>Une solution simple et gratuite.</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="#features" role="button">Dites m'en plus !</a>
                        </p>
                    </div>
                    <!--
                    <div class="carousel-image wow zoomIn">
                        <img src="/welcome/laptop.png" alt="laptop" height="50%">
                    </div>
                    -->
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>

            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>COLIBRY, LA PREMIÈRE BIBLIOTHÈQUE COLLABORATIVE <br/>
                            Lisez, partagez, rencontrez<br/>
                            </h1>
                        <p>Redonnez vie aux centaines de livres qui dorment sur les étagères de vos voisins et partagez vos lectures préférées.<br>Une solution simple et gratuite.</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="#features" role="button">Dites m'en plus !</a>
                        </p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>
        </div>
        <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



  <!-- features : Partie pour présenter l'idée même de Colibry -->

    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-3">
                <h2>Gère ta bibliothèque</h2>
                <p>Fais figurer en quelques clics dans ta bibliothèque Colibry les livres que tu possèdes. Choisis ceux que tu veux prêter à tes voisins et proposes un commentaire sur ceux que tu as préférés.</p>
              <!--  <p><a class="navy-link" href="{{pathFor route='lend'}}" role="button">Ma bibliothèque &raquo;</a></p> -->
            </div>
            <div class="col-sm-3">
                <h2>Emprunte des livres</h2>
                <p>Tu as une idée de lecture en tête? Recherche le livre sur Colibry et découvre si un exemplaire est disponible près de chez toi. Contacte le membre Colibry qui le propose pour définir un lieu de rencontre.
                En manque d’inspiration? Laisse toi guider par les coups de coeur de tes voisins!</p>
                <!-- <p><a class="navy-link" href="{{pathFor route='borrow'}}" role="button">Emprunte des livres &raquo;</a></p>-->
            </div>
            <div class="col-sm-3">
                <h2>Partage en toute confiance</h2>
                <p>Grâce à un système de notations et de commentaires sur chaque prêt, Colibry est un partenaire de confiance pour retrouver tes livres préférés en bon état!</p>
                <!-- <p><a class="navy-link" href="{{pathFor route='lend'}}" role="button">Prête tes livres &raquo;</a></p>-->
            </div>
            <div class="col-sm-3">
                <h2>Fais de nouvelles rencontres</h2>
                <p>Partager des livres est une affaire de rencontres. Échange avec des gens qui ont les mêmes goûts littéraires, laisse-toi guider par ceux qui voudront te faire découvrir de nouveaux livres et construit ta communauté!</p>
               <!--  <p><a class="navy-link" href="{{pathFor route='profilepage'}}" role="button">Vers mon profil &raquo;</a></p>-->
            </div>
        </div>
            <section class="timeline gray-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Comment ça marche ?</h1>
                    <p></p>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                Ajoute les livres que tu possèdes à ta bibliothèque Colibry et décide de ceux que tu veux prêter.
                                <span class="vertical-date"> Gèrer sa bibliothèque <br/> <small>Maintenant</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-file-text"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                Recherche un livre qui t'intéresse ou explore les coups de coeur de tes voisins.
                                <span class="vertical-date"> Rechercher un livre <br/> <small>En 5 min</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-cogs"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                Contacte un membre Colibry et définissez ensemble un lieu de rencontre.
                                <span class="vertical-date"> Contacter un membre Colibry <br/> <small>En 5 min 30 sec</small> </span>
                            </div>
                        </div>

                         <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-map-marker"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                Rencontre le chez lui, dans un café ou dans une bibliothèque.
                                <span class="vertical-date"> Se rencontrer <br/> <small>Aujourd'hui</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-coffee"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                Après avoir lu le livre, rencontrez vous de nouveau. Echange sur ta lecture et prête lui éventuellement un de tes livres préférés.
                                <span class="vertical-date"> Partager ses impressions et ses livress <br/> <small>Dans quelques semaines</small> </span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>
    </section>

<section id="citizen" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Colibry, un projet citoyen</h1>
                    <p>Nous partageons la lecture et entretetons la culture du partage.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>Colibry</small>
                    <h2>Partager la lecture </h2>
                    <i class="fa fa-rss big-icon pull-right"></i>
                    <p>Colibry se donne pour mission de diffuser la lecture au plus grand nombre. D'une part, le site permet gratuitement l'accès à des ressources culturelles inexploitées. D'autre part, les rencontres qu'il génère permettent aux communautés de se rassembler et de développer la culture du partage.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>Colibry</small>
                    <h2>Un projet vraiment collaboratif</h2>
                    <i class="fa fa-group big-icon pull-right"></i>
                    <p>Projet entièrement développé en open-source, c’est la communauté qui a permis la création de Colibry. 
                    C'est tout naturellement que Colibry a décidé de placer ses membres au coeur de sa gouvernance grâce à des outils de consultation, de participation directe et de contrôle des décisions.</p>
                </div>
            </div>
        </div>

    </section>
  

    <!-- development : Partie dédiée pour le développement informatique, ce qu'on a fait et ce qu'on cherche à faire -->

<section  id="development" class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Colibry est en cours de développement<br/> <span class="navy">
            Nous travaillons à 100% grâce aux outils et à la communauté Meteor</span></h1>
                <p>Que vous soyez programmeur informatique ou simple lecteur, n'hésitez pas à proposer un coup de main.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-laptop features-icon"></i>
                    <h2>Sur ordinateur</h2>
                    <p>Colibry est compatible avec n’importe quel navigateur, toutes ses fonctionnalité sont donc accessibles depuis votre ordinateur personnel.</p>
                </div>
            <div class="m-t-lg">
                    <i class="fa fa-mobile features-icon"></i>
                    <h2>Sur mobile</h2>
                    <p>Dans un premier temps, Colibry est accessible depuis le navigateur web de votre téléphone intelligent. Un peu de patience, une application dédiée sera accessible très rapidement.</p>
                </div> 
           </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <img src="/welcome/showcase-full.png" alt="Also available on mobile" class="img-responsive">
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-file-code-o features-icon"></i>
                    <h2>Développeurs recherchés.</h2>
                    <p>Colibry est en plein développement. Nous sommes à la recherche de dévellopeurs talentueux Js Full Stack qui sont intéressés par l'économie collaborative, la lecture et boire des bières.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-github features-icon"></i>
                    <h2>Open source</h2>
                    <p>
Colibry est un projet citoyen à disposition de sa communauté, c’est donc tout naturellement que nous avons travaillé en open source, c’est à dire que le code de la plateforme est ouvert à tous. Toute contribution pour améliorer notre travail ou juste nous donner quelques conseils sera grandement appréciée!</p>
                    <p><a class="navy-link" href="https://github.com/ColibryDev/colibry" role="button">Go on Github &raquo;</a></p>
                </div>
            </div>
        </div>
    </section>




  <!-- lookingFor : Partie dédiée à notre recherche de partenaire financier $$-->

    <section id="lookingFor" class="navy-section testimonials" style="margin-top: 0">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-comment big-icon"></i>
                    <h1>
                L’aventure Colibry commence maintenant, rejoignez la communauté!
                    </h1>
                    
                </div>
            </div>
        </div>

    </section>

    <section class="comments gray-section" style="margin-top: 0">
        <div class="container">
            <div class="row">
                    <div class="navy-line"></div>
                    
            </div>
            <div class="row features-block">
                <div class="col-lg-4">
                    <div class="bubble">
                        <small>
                        La plate-forme a besoin d’un dernier coup de tournevis avant la mise en ligne. Si vous avez des compétences en javascript, html ou CSS et que vous voulez participer à un projet qui a du sens, contactez-nous!
                    </small>
                    </div>
                    <div class="comments-avatar">
                        <div class="media-body">
                            <div class="commens-name">
                            <i class="fa fa-user"></i>
                            Développeurs
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble">
                                                <small>
                        Colibry sera bientôt disponible pour une première communauté de membres indulgents qui nous aiderons à améliorer l’expérience utilisateurs avant le lancement officiel. Nous recherchons des passionnés de lecture. 
                    </small>
                    </div>
                    <div class="comments-avatar">
                       
                        <div class="media-body">
                            <div class="commens-name">
                            <i class="fa fa-users"></i>
                            Premiers utilisateurs
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble">
                        <small>
                        Colibry a besoin de fonds pour ses premiers mois d’existence, nous sommes à la recherche de partenaires financiers qui soutiendront notre lancement et participeront à notre croissance. 
                    </small>
                    </div>
                    <div class="comments-avatar">
                        <div class="media-body">
                            <div class="commens-name">
                            <i class="fa fa-user-md"></i>
                            Partenaires
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </section>
        <section id="lookingFor" class="navy-section testimonials" style="margin-top: 0">
</section>

    
    <section id="contact" class="gray-section team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>L'équipe</h1>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <div class="team-member">
                        <img src="welcome/Alex.jpg" class="img-responsive img-circle img-small" alt="">
                        <h4><span class="navy">Alex</span> </h4>
                        <p>Associatif passionné j’ai dirigé plusieurs associations étudiante avant de m’engager dans la transition vers une économie participative, responsable et citoyenne. J’accompagne depuis plusieurs années cette transition en tant que conseiller en gestion de changement.<br>
                        Depuis mon arrivée au Québec, je travaille au développement de l'économie collaborative via l'animation du think-tank OuiShare. J’ai également cofondé le mouvement citoyen RBQ qui encadre la réflexion sur l’instauration d’un revenu de base au Québec.<br>
<br>
                        Colibry matérialise selon moi l’avenir de l’accès à la culture. C’est un moyen simple et gratuit pour découvrir, apprendre, rêver et partager en donnant une seconde vie aux livres, ressource culturelle abondante mais très peu exploitée.</p>
                        <ul class="list-inline social-icon">
                            <li><a href="https://twitter.com/alex_j2b?lang=fr"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/alexandre.bigot?ref=ts&fref=ts"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/alexandre-bigot-27348920"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-6 wow fadeInRight">
                    <div class="team-member">
                        <img src="welcome/Martin.jpg" class="img-responsive img-circle img-small" alt="">
                        <h4><span class="navy"></span> Martin</h4>
                        <p>Passionné d'entrepreneuriat depuis la fin de mes études. J'ai commencé ma carrrière dans le conseil en management. C'est dans les causes environnementales et écologiques que j'ai trouvé ma voie assez tôt. Faute d'en faire mon métier, j'en ai fait un combat politique. <br> <br>
                        Aujourd'hui, c'est en prenant part à de nombreux cercles entrepreniaux que j'ai finalement trouvé le courage de lancer notre entreprise.<br><br>
                        Colibry représente pour moi un modèle de l'économie collaborative 2.0. Une entreprise à vocation sociale, qui par son modèle citoyen, open source et participatif porte des valeurs qui sauront convaincre nos utilisateurs et nos partenaires.
                    </p>
                        <ul class="list-inline social-icon">
                            <li><a href="https://twitter.com/poolman"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/martin.werlen.9?fref=ts"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/martin-werlen-587a6010"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p>Allez viens nous rejoindre ! On est bien !</p>
                </div>
            </div>
        </div>
    </section>

 
    <!-- contact : Prendre contact avec nous ! -->

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Nous contacter</h1>
                    <p></p>
                </div>
            </div>
            <!--
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">Colibry</span></strong><br/>
                        404 on cherche un chez nous<br/>
                        Montreal, CA HA HA HA<br/>
                       <abbr title="Phone">P:</abbr> 514 402 1693 (Martin)
                        <br> <i class="fa fa-enveloppe"></i><small class="address"><a href="mailto:martin@colibry.ca">martin@colibry.ca</a></small>
                      <br><i class="fa fa-enveloppe"></i><small class="address"><a href="mailto:alex@colibry.ca">alex@colibry.ca</a></small>
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color">
                        Colibry est une société en cours de création au Québec.
                    </p>
                </div>
            </div>
        -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:martin@colibry.ca" class="btn btn-primary">Nous contacter par courriel</a>
                    <p class="m-t-sm">
                        Ou suis-nous sur les réseaux sociaux ...
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="https://twitter.com/TheColibry"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/colibry.ca/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://github.com/ColibryDev/colibry"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2016 Colibry. All rights reserved.</strong><br/> Et ouais ...</p>
                </div>
            </div>
        </div>
    </section>


</template>