<!-- TEMPLATE POUR L'AFFICHAGE DE l'ECRAN REGISTER. -->
<template name="loginregister"> 


   <body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
                {{> atForm}}
        </div>
    </div>
</body>


 <!--   {{> carousel}}

<div class="container-fluid">
    <div class="row row-centered" >
    <div class="panel panel-default center-block col-centered" style="position: absolute; top:20%">
  <div class="panel-body center-block col-centered">
  
       {{> atForm}}


</div>
</div>
</div>
</div> -->
</template>



<!-- TEMPLATE POUR L'AFFICHAGE EN FOND D'ECRAN POUR LOGIN ET REGISTER DU CAROUSSEL -->
<!-- DESCRIPTION PUR BOOTSTRAP. IL NE DEFILE PAS TOUT SEUL, JE NE SAIS PAS TROP POURQUOI -->

<template name="carousel">

          <div class="carousel slide" id="carousel-login-register">
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img alt="image" class="img-responsive" src="/welcome/Carousel1.jpg">
                                    </div>
                                    <div class="item">
                                        <img alt="image" class="img-responsive" src="/welcome/Carousel2.jpg">
                                    </div>
                                    <div class="item active">
                                        <img alt="image" class="img-responsive" src="/welcome/Carousel3.jpg">
                                    </div>

                                </div>
                                <a data-slide="prev" href="#carousel-login-register" class="left carousel-control">
                                    <span class="icon-prev"></span>
                                </a>
                                <a data-slide="next" href="#carousel-login-register" class="right carousel-control">
                                    <span class="icon-next"></span>
                                </a>
                            </div>

</template>