<head>
  <title>Colibry</title>
<!-- PAS BESOIN' car appelée dans la partie colibry.js
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
-->
</head>


<!-- TEMPLATE POUR AFFICHER LE PROFILE DE L'UTILISATEUR ET LUI PERMETTRE DE MODIFIER SES INFORMATIONS PERSONNELLES -->
<template name="profilepage">
<!-- 
Essai INSPINIA -->

<div class="wrapper wrapper-content animated fadeInRight">
<!-- 
Bandeau du haut avec photo, nom, stats -->
            <div class="row m-b-lg m-t-lg">
                <div class="col-md-6">

                    <div class="profile-image">

                    	{{#if currentUser.profile.pic}}
									<img src="{{getProfilePic.url}}" alt="Profile Picture" class="img-circle circle-border m-b-md">
									{{else}}
									<img src="/public/standardProfilePic.jpg" alt="Profile Picture" class="img-circle circle-border m-b-md">
									{{/if}}
                    </div>
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                    {{currentUser.profile.firstName}}
                                </h2>
                                <h4>Colibry reader</h4>
                                <small>
                                    À propos de moi (à intégrer dans la DB)
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <table class="table small m-b-xs">
                        <tbody>
                        <tr>
                            <td>
                                <strong>142</strong> Books
                            </td>
                            <td>
                                <strong>22</strong> Books borrowed
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>61</strong> Reviews
                            </td>
                            <td>
                                <strong>54</strong> Followers
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                	<div class="ibox-content">
						<div class="progress">	
						  <div class="progress-bar" role="progressbar" aria-valuenow="{{getProgressBarPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{getProgressBarPercentage}}%;">
					 	   {{getProgressBarPercentage}}% fullfilled
					 	 </div>
						</div>

						<div class="row">
                        <div class="col-md-6">
                        {{#if actuallyUpdatingProfile}}
                        <!-- Si actuellement en train d'update le Profile, alors on a un boutton pour save avec une class 'saveProfile' -->
						<button type="button" class="btn btn-primary btn-block btn-sm saveProfile" id="save-button">Save</button>
						{{else}}
						<!-- Si pas en train d'update le Profile, alors on a un boutton pour update avec une class 'updateProfile' -->
						<button type="button" class="btn btn-primary btn-block btn-sm updateProfile"><i class="fa fa-pencil"></i>  Update</button>{{/if}}            
                        </div>
                        <div class="col-md-6">
                        <!-- + un Inactive button -->
						<button type="button" class="btn btn-danger btn-block btn-sm suppressAccount">Delete account</button>
                        </div>
                        </div>
					</div>
                </div>

            </div>

</div>
<!-- 
2ème partie -->
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<!-- 
Si on actualise le profil -->
{{#if actuallyUpdatingProfile}}
<div class="col-xs12 col-sm-6 col-md-4">

{{#autoForm collection='Meteor.users' doc=currentUser type='update' id='accountForm' autosave=true}}

	{{> afQuickField name="profile.firstName"}}
	{{> afQuickField name="profile.lastName"}}
  {{> afQuickField name="profile.birthday"}}
   {{> afQuickField name="profile.address1" type="googleplace" placeholder="Enter you personal address" opts=optsGoogleplace id="address1Field"}}
    {{> afQuickField name="profile.address2" type="googleplace" placeholder="Enter you personal address" opts=optsGoogleplace id="address2Field"}}
		<!-- Je cache le bouton mais utilise son ID pour le déclencher quand j'appuie sur le bouton principal Save -->
	<button type="submit" class="btn btn-warning btn-block btn-md hidden" id="save-profileInfo">Save my profile</button> 

 {{/autoForm}}

 </div>

{{>changePhoto}}

{{else}}

	<div class="col-lg-4">

                    <div class="ibox">
                        <div class="ibox-content profile-content">
                         <h4><strong>{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</strong></h4>

								{{#if currentUser.profile.birthday}}
 								<p>Born the {{birthdayDateFormat}}</p>
 								{{/if}}

 								<p><i class="fa fa-envelope-o"></i> {{currentUser.emails.[0].address}}</p>

  								{{#if currentUser.profile.address1.lat}}
								<address>
								  <strong><i class="fa fa-map-marker"></i> Personal address</strong><br>
								  {{currentUser.profile.address1.street}}<br>
								  {{currentUser.profile.address1.city}}, {{currentUser.profile.address1.state}}  {{currentUser.profile.address1.zip}}, {{currentUser.profile.address1.country}}<br>
								</address>
								{{/if}}

								{{#if currentUser.profile.address2.lat}}
								<address>
								  <strong><i class="fa fa-map-marker"></i> Work address</strong><br>
								  {{currentUser.profile.address2.street}}<br>
								  {{currentUser.profile.address2.city}}, {{currentUser.profile.address2.state}}  {{currentUser.profile.address2.zip}}, {{currentUser.profile.address2.country}}<br>
								</address>
								{{/if}}
                                <br>
                                <p>Registered from {{timeFromInscription}}</p>
                                <h5>
                                    About me
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                </p>

                        </div>
                    </div>
   	</div>
   	<div class="col-lg-4">

                       {{#if currentUser.profile.address1.lat}}
                    <div class="ibox">
                        <div class="ibox-content">
							 <center><h5>Personal Address</h5></center>
							 <br>
							<div class="map-container-small">
							 {{> googleMap name="address1Map" options=addressesMapOptions}}
							</div>
                        </div>
                    </div>
                    {{/if}}

     </div>
   	<div class="col-lg-4">

					{{#if currentUser.profile.address2.lat}}
                    <div class="ibox">
                        <div class="ibox-content">
							 <center><h5>Work Address</h5></center>
							 <br>
							<div class="map-container-small">
							 {{> googleMap name="address2Map" options=addressesMapOptions}}
							</div>

                        </div>
                    </div>
                   {{/if}}

    </div>
                                
{{/if}}                      
                                

</div>
</div>


<div class="container-fluid">
<div class="row">



</div>
</div>
</template>



<template name="changePhoto">
<div class="col-xs12 col-sm-12 col-md-6">
 <!-- Autoform pour upload la photo, package yogiben
 {{#autoForm collection='Meteor.users' doc=currentUser type='update' id='photoForm' autosave=true scope="profile.pic"}}
{{> afQuickField name="profile.pic" label="Choose a picture" remove-label="Remove"}}
	Je cache le bouton mais utilise son ID pour le déclencher quand j'appuie sur le bouton principal Save 
	  <button type="submit" class="btn btn-primary hidden" id="save-pic">
	  Download my profile picture
	</button>
 {{/autoForm}}
-->
<div class="ibox float-e-margins">
 <div class="ibox-content">
 	<div class="row">
     <div class="col-md-6">
<div class="image-crop">
{{#if currentUser.profile.pic}}
<img src="{{getProfilePic.url}}" alt="Profile Picture" class="img-responsive">
{{else}}
<img src="/public/standardProfilePic.jpg" alt="Profile Picture" class="img-responsive">
{{/if}}
</div>
	</div>

<div class="btn-group">
<label title="Upload image file" for="inputImage" class="btn btn-primary">
<input type="file" accept="image/*" name="file" id="inputImage" class="hide">Upload new image
</label>
<label title="Donload image" id="download" class="btn btn-primary">Download</label>
</div>
</div>
 </div> 
</div>
</div>
</template>



<template name="profilestats">
<div class="well">

<span class="badge">{{myPublicBooks.count}}</span> books available for lending 
</div>
</template>